chapter16/webapp/WEB-INF/classes/xsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="PUBLIC">
	<xsd:import namespace="PUBLIC" schemaLocation="PUBLIC.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="T_USER" type="dflt:T_USER__type" />
				<xsd:element name="T_LOGIN_LOG" type="dflt:T_LOGIN_LOG__type" />
				<xsd:element name="DBMAINTAIN_SCRIPTS" type="dflt:DBMAINTAIN_SCRIPTS__type" />
				<xsd:any namespace="PUBLIC" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
